
:root{
    --brown: --brown;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .1rem 1rem rgba(0,0,0.1);
    --border: 2rem solid rgba(0,0,0.1);
    --outline: .1rem solid rgba(0,0,0.1);
  
  }
  
  *{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
     text-decoration: none;
     transition: all.2s linear;
  
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  body{
    background: beige;
  }
  .header{
    border: 0px solid;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #ffffff96;
    box-shadow: var(--box-shadow);
  }
  .header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
  }
  .header .logo i{
    color: var(--black);
  }
  .header .navbar a{
    font-size: 1.7rem;
    margin: 0 4rem;
    color: rgba(0, 0, 0, 0.9);
    font-display: bold;
    
  }
  .header .navbar a:hover{
   color:rgb(64, 255, 47);
  }
  .header .icons div{
    border: 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background: #eee;
    color: black;
    font-size: 2rem;
    margin-right: 0.3rem;
    text-align: center;
    cursor: pointer;
  }
  .header .icons div:hover{
   background: rgb(64, 255, 47);
   color: white;
  }
  #menu-btn{
    display: none;
  }
  .header .shopping-cart{
    align-items: center;
    
    position: absolute;
    top: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 70rem;
    height: 55rem;
    font-family: sans-serif;
    font-size: 3rem;
    right: 46rem;
    margin-top: 6rem;
    background: #eee;
   
  }
  .header .shopping-cart .box {
    border: 1px solid blue;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
  }
  .header .shopping-cart .box img{
  height: 10rem;
  
  }



.cart-container {
  padding: 100px;
} 



table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.cart-btn ,.table-bottom,.delete-btn{
 font-size: 20px;
}

.shopping-cart{
  padding: 30px;
}

.user-profile p{
  font-size: 25px;
}